
  

  #container{
        	margin:  15px auto;
          font-size: 24px;
        	
        	
        }

     a{
        color:#21ddf2;
       }


#searchform{
            background-color:#CACDCD;
            border-radius:1.875em;
            margin-left:12.5em;
            height:3.125em;
            width:35%;
            text-align:center;
            }

.navtop {
          margin: 0;
          overflow: hidden;
          background-color: green;
          font-family:Lato,sans-serif;
         }

.navtop a {
            float: left;
            display: block;
            color: black;
            text-align: center;
            padding: 0.875em 1em;
            text-decoration: none;
            font-size: 1.063em;
          }

.navtop a:hover {
                  background-color: #ddd;
                  color: black;
                }

.navtop a.active {
                  background-color: green ;
                  color: white;
                  }

.navtop .search-container {
                           float: right;
                          }

.navtop input[type=text] {
                          padding: 0.375em;
                         margin-top: 0.5em;
                         font-size: 1.063em;
                         border: none;
                         border-radius: 1.563em;
                          }

.navtop .search-container button {
                                  float: right;
                                  padding: 0.375em;
                                   margin-top: 0.5em;
                                  margin-right: 1em;
                                  background: #ddd;
                                  font-size: 1.063em;
                                  border: none;
                                  cursor: pointer;
                                  border-radius: 1.25em;
                                 }

.navtop .search-container button:hover {
                                          background: lightgreen;
                                       }
           


                    h1 {
	                       text-align:center;
	                       color:lightgreen;
	                      font-size:3em;
               }

       #info{
	        margin:auto;
	        padding-left: 2em;
            }

        #da{
	         color:white;
	          background-color:#033C00;
	           font-size: 2em;
	           font-family :Lato,sans-serif;
	           text-align:center;
	            padding-left:2em;
              padding-right:2em;
	             margin-right:2em;
	             margin-left: 2em;
	              border-radius: 20px;
                  }

          #pic{
	            position:relative;
	            display:flex;
	            justify-content:around;
	            
	        }
	


    .msvs{
	        color:black;
	         background-color:green;
	         font-family :Lato,sans-serif;
	         text-align: center;
	         border-radius: 20px;
	         padding:30px;
	          margin-left: 300px;
	           margin-right: 300px;
                line-height: 1;

           }

           #vsn{
           	padding-left: 2em;
           }
        #pct{
        	text-align:center;

           }
            #ad{
              background: green;
            }
